
<p>
  <strong>ID:</strong>
  <%= @question.id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Product ID:</strong>
  <%= @question.product_id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @question.user_id %>
</p>

<% if check_edit_permission?(@question) %>
  <%= link_to 'Edit', edit_question_path(@question) %>
<% end %>
