<div class="login">
  
  <h2 class="login-header">Log in</h2>

  <%= simple_form_for :sessions, html: {id: "login-form", class: "login-container"}, url: sessions_path do |f| %>
    <p><%= f.input :email, placeholder: "Email" %></p>
    <p><%= f.input :password, placeholder: "Password" %></p>
    <p><%= f.button :submit, "Login"%></p>
    <%= link_to "Forgot your password?",  sessions_restore_password_path %>
  <% end %>

</div>
