<div class="login">
  
  <h2 class="login-header">Reset Password</h2>

  <%= simple_form_for :sessions, html: {id: "login-form", class: "login-container"}, url: sessions_reset_password_path do |f| %>
    <p> Resetting password for <%= @password_reset.user.email %> </p>
    <p><%= f.input :password, placeholder: "Password" , input_html: {minlength: 6} %></p>
    <p><%= f.input :password_confirmation, placeholder: "Password Confirmation", input_html: {minlength: 6} %></p>
    <%= f.hidden_field :key, value: @password_reset.key %>

    <p><%= f.button :submit, "Reset"%></p>
  <% end %>

</div>
