<%= simple_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :username %>
  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.input :email , pattern: "^([^@\\s]+)@((?:[-a-z0-9]+\\.)+[a-z]{2,})$", input_html: {title: "Email format: example@example.com"}%>
  <%= f.input :address %>
  <%= f.input :phone_number , pattern: "^\\+?\\d{8,11}$", input_html: {title: "Phone number must contain 8-11 digits and start or not with a \"+\" symbol"}%>
  <%= f.input :password , input_html: { minlength: 6 }%>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
