<div id="wrap" class="user-info">

  <h2> Your Account </h2>

  <% if !@user.avatar.file.nil? %>
    <%= image_tag @user.avatar.url, id: "avatar-show"%>
  <% end %>
  <table class="no-border">
    <tbody class="no-border">

      <tr class="no-border">
        <td class="no-border" valign="top">

        </td>
        <td class="no-border" valign="top">

          <p>
            <strong>Username:</strong>
            <%= @user.username %>
          </p>

          <p>
            <strong>Name:</strong>
            <%= "#{@user.name} #{@user.last_name}" %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @user.email %>
          </p>

          <p> <strong> Mailing Information: </strong>


            <p class="indented">
              <strong>Address:</strong>
              <%= @user.address %>
            </p>

            <p class="indented">
              <strong>Phone number:</strong>
              <%= @user.phone_number %>
            </p>

            <br>

            <%= link_to 'Edit Account Information', edit_user_path(@user) %>

</div>


</td>
</tbody>
</table>