<div class="centered-div user-info">

  <h2> Your Account </h2>

  <% if !@user.avatar.file.nil? %>
    <%= image_tag @user.avatar.url, id: "avatar-show"%>
  <% end %>

  <table class="no-border user-show">
    <tbody class="no-border">
      <tr class="no-border">
        <td class="no-border" valign="top">
            <strong>Username:</strong>
        </td>
        <td class="no-border" valign="top">
            <%= @user.username %>
        </td>
      </tr>
      <tr class="no-border">
        <td class="no-border" valign="top">
            <strong>Name:</strong>
        </td>
        <td class="no-border" valign="top">
            <%= "#{@user.name} #{@user.last_name}" %>
        </td>
      </tr>
      <tr class="no-border">
        <td class="no-border" valign="top">
            <strong>Email:</strong>
        </td>
        <td class="no-border" valign="top">
            <%= @user.email %>
        </td>
      </tr>
      <tr class="no-border">
        <td class="no-border" valign="top">
            <strong>Address:</strong>
        </td>
        <td class="no-border" valign="top">
              <%= @user.address %>
        </td>
      </tr>
      <tr class="no-border">
        <td class="no-border" valign="top">
            <strong>Phone number:</strong>
        </td>
        <td class="no-border" valign="top">
            <%= @user.phone_number %>
        </td>
      </tr>
      <tr class="no-border">
        <td class="no-border" valign="top">
           <%= link_to 'Edit Account Information', edit_user_path(@user) %>
        </td>
      </tr>

    </tbody>
  </table>

</div>