<p>
  <strong>ID:</strong>
  <%= @coupon.id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @coupon.kind %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @coupon.discount %>
</p>

<p>
  <strong>Redeems available:</strong>
  <%= @coupon.redeems_available %>
</p>

<p>
  <strong>Categories in which it applies:</strong>
  <ul>
  <% @coupon.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end%>
  </ul>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
