<div id="wrap">
  <h2> Admin dashboard </h2>


  <div class="tab">
    <button class="tablinks defaultOpen" data-tab="graphs-tab">Graphs</button>
    <button class="tablinks" data-tab="users-tab">Users</button>
    <button class="tablinks" data-tab="categories-tab">Categories</button>
    <button class="tablinks" data-tab="tags-tab">Tags</button>
    <button class="tablinks" data-tab="reviews-tab">Reviews</button>
    <button class="tablinks" data-tab="comments-tab">Comments</button>
    <button class="tablinks" data-tab="orders-tab">Orders</button>
    <button class="tablinks" data-tab="questions-tab">Questions</button>
    <button class="tablinks" data-tab="answers-tab">Answers</button>
    <button class="tablinks" data-tab="coupons-tab">Coupons</button>
  </div>  

  <div class = "graphs-tab tabcontent">
    <h2> Graphs </h2>
    <div id="line-graph" class="graph-container"></div>
  </div>

  <div class = "users-tab tabcontent">
    <%= render template: 'users/index'%>
  </div>

  <div class = "categories-tab tabcontent">
    <%= render template: 'categories/index'%>
  </div>

  <div class = "tags-tab tabcontent">
    <%= render template: 'tags/index'%>
  </div>
  
  <div class = "reviews-tab tabcontent">
    <%= render template: 'reviews/index'%>
  </div>

  <div class = "comments-tab tabcontent">
    <%= render template: 'comments/index'%>
  </div>

  <div class = "orders-tab tabcontent">
    <%= render template: 'orders/index'%>
  </div>

  <div class = "questions-tab tabcontent">
    <%= render template: 'questions/index'%>
  </div>

  <div class = "answers-tab tabcontent">
    <%= render template: 'answers/index'%>
  </div>

  <div class = "coupons-tab tabcontent">
    <%= render template: 'coupons/index'%>
  </div>







</div>



<script>drawLineGraph('line-graph', <%= @cats.to_json.html_safe %>)
</script>