

<div id="wrap">
<h2> Welcome to Virtual Store! </h2>
 
  

<div class="product-single">
  <div class="product-carrousel">
    <div id="slider-wrap">
      <ul class="slides" id="offer-slides">

            <li><a href= <%= product_path(2) %> class= "carrousel-link" ><%= image_tag "oferta1.jpg", class:"carrousel-image" %></a></li> 
            <li><a href= <%= product_path(3) %> class= "carrousel-link" ><%= image_tag "oferta2.jpg", class:"carrousel-image" %></a></li> 
            <li><%= image_tag "oferta3.jpg", class:"carrousel-image" %></li> 
          </ul>
          <ul class="nav-dots">
                <li class="active"></li>
                <li></li>
                <li></li>
      </ul>
    </div>
  </div>
</div>
<div class="home-products">
<div id="wrap">

  <h2>Featured products</h2>

	<div id="columns" class="columns_4">

   <% @products.each do |product| %>
      <figure>
        <%= link_to product do %>
            <% if product.images.length() > 0 %>
              <%= image_tag(product.images.first.url, alt: "unavailable.jpg") %>
            <% else %>
              <%= image_tag("unavailable.jpg") %>
            <% end %>
        <% end %>
                
        <figcaption><%= product.name %></figcaption>
        <span class="price">$ <%= product.prize %></span>

        <%= form_tag("/cart/add",method:"post", class:"button") do %>
          <%= hidden_field_tag("cart[product_id]", product.id)%>
          <%= hidden_field_tag("cart[quantity]",1) %>
          <%= submit_tag("Add to Cart", class:"button")%>
        <% end %>

        <% if current_user&.is_admin %>
          <%= link_to fa_icon("edit"), edit_product_path(product) %>
     
          <%= link_to fa_icon("trash-o"), product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

      </figure>
    <% end %>

</div>
</div>