<%= simple_form_for(answer) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content , label: 'Content'%>

  <%= f.input :question_id, collection: Question.pluck(:id), include_blank: false%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
