
<h1>Orders</h1>
  <% if admin? %>
 <a class="new-button" href=<%=new_order_path%>>Add New Order</a>
 <br><br>
 <% end %>
<table id="unfixed-table">
  <thead>
    <tr>
      <th>ID</th>
      <th class="centered-text">Status</th>
      <th>Creation Date</th>
      <% if admin? %>
      <th>User ID</th>
        <th colspan="3"></th>
      <% else %>
        <th colspan="1"></th>
      <% end %>
    </tr> 
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr data-order-id="<%= order.id %>">
        <td width="2%"><%= order.id %></td>
        <% if admin? %>
          <td> 
          <%= simple_form_for order, remote: true, html: {class: 'form-inline'} do |f| %>
            <%= f.input :status, collection: Order.statuses, label: false, value_method: :first, include_blank: false, wrapper: false %>
            <%= f.submit style: "margin-left:5px;"%>
          <% end %>
          </td>
        <% else %>
          <td><%= order.status %></td>
        <% end %>
        <td><%= order.created_at %></td>
        <% if admin? %>
          <td><%= order.user_id %></td>
        <% end %>
          <td><%= link_to fa_icon("search"), order %></td>
        <% if admin? %>
          <td><%= link_to fa_icon("edit"), edit_order_path(order) %></td>
          <td><%= link_to fa_icon("trash-o"), order, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
