<% if @products.count > 0 %>

  <table id="unfixed-table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Cost</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product, quantity| %>
        <tr data-product-id="<%= product.id %>">
          <td><%= link_to fa_icon("search"), product %></td>
          <td width="15%"><%= product.name %></td>
          <td width="15%">$<%= product.prize %></td>
          <td width="15%" data-attribute="quantity"><%= quantity %></td>
          <td width="15%" data-attribute="total-cost">$<%= product.prize * quantity %></td>
          <td width="30%">
          <%= form_tag(cart_edit_path,method:"post", remote:true) do %>
            <%= hidden_field_tag("cart[product_id]", product.id)%>
            <%= number_field("cart","quantity", value: quantity, min: 1) %>
            <%= submit_tag("Change Quantity")%>
          <% end %>
          </td>
          <td width="15%">
          <%= form_tag(cart_remove_path,method:"post", remote:true) do %>
            <%= hidden_field_tag("cart[product_id]", product.id)%>
            <%= button_tag(type: "submit") do%>
              <% fa_icon("trash-o")%>
            <%end%>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <p data-attribute="total-cost-global">
    <strong> Total: $<strong><%= @total %>
  </p>

  <br>

  <% if current_user %>
    <%= form_tag(cart_submit_path, method:"post") do %>
      <%= button_tag(type: "submit", class:"centered_button") do%>
        <% fa_icon("share-square-o", text: "Place Order!")%>
      <%end%>
    <% end %>
  <% else %>
    <p> You must <%= link_to('Log In', new_sessions_path) %> to checkout your cart! </p>
  <% end %>
<% else %>
  <p> Your Cart is Empty! Head over to the Products section to fill your cart!</p>
<% end %>

<!--
<% @products.each do |product,quantity|%>
  <div>
  <%= product.name %>
  <%= quantity %>
  <%= form_tag(cart_edit_path,method:"post") do %>
    <%= hidden_field_tag("cart[product_id]", product.id)%>
    <%= number_field("cart","quantity", value: quantity, min: 1) %>
    <%= submit_tag("Change Quantity")%>
  <% end %>
  <%= form_tag(cart_remove_path,method:"post") do %>
    <%= hidden_field_tag("cart[product_id]", product.id)%>
    <%= button_tag(type: "submit") do%>
      <% fa_icon("trash-o")%>
    <%end%>
  <% end %>
  </div>
<% end %>
-->