
<h1>Categories</h1>
 <a class="new-button" href=<%=new_category_path%>>Add New Category</a>
 <br><br>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Parent ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= category.parent_id %></td>
        <td><%= link_to fa_icon("search"), category %></td>
        <td><%= link_to fa_icon("edit"), edit_category_path(category) %></td>
        <td><%= link_to fa_icon("trash-o"), category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>