<%= simple_form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tbody>
      <tr>
        <td width="25%"><%= label_tag(:name, "Name: ") %></td>
        <td width="75%"><%= f.input :name, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:description, "Description: ") %></td>
        <td width="75%"><%= f.input :description, label: false, :input_html => {style: 'width: 80%; height: 80px;'}%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:details, "Details: ") %></td>
        <td width="75%"><%= f.input :details, label: false, :input_html => {style: 'width: 80%; height: 80px;'}%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:prize, "Prize: ") %></td>
        <td width="75%"><%= f.input :prize, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:stock, "Stock: ") %></td>
        <td width="75%"><%= f.input :stock, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:add_category, "Add category: ") %></td>
        <td width="75%"><%= f.input :add_category, collection: (Category.all - @product.categories), label_method: :name, value_method: :id, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:remove_category, "Remove category: ") %></td>
        <td width="75%"><%= f.input :remove_category, collection: @product.categories, label_method: :name, value_method: :id, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:add_tag, "Add tag: ") %></td>
        <td width="75%"><%= f.input :add_tag, collection: (Tag.all - @product.tags), label_method: :name, value_method: :id, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:remove_tag, "Remove tag: ") %></td>
        <td width="75%"><%= f.input :remove_tag, collection: @product.tags, label_method: :name, value_method: :id, label: false%></td>
      </tr>
      <tr>
        <td width="25%"><%= label_tag(:discount, "Discount: ") %></td>
        <td width="75%"><%= f.input :discount, label: false%></td>
      </tr>
    </tbody>
</table>

  <div class="actions">
    <p><%= f.submit %></p>
  </div>


<% end %>
