<h1>Editing Product</h1>

<%= render 'edit_form', product: @product %>

<h2> Images </h2>


<table class="no-border">
  <tbody class="no-border">

    <% @product.images.each_with_index do |img, index| %>
    <tr class="no-border">
      <td class="no-border"><%= image_tag img.url %> </td>
      <% if admin? %>
        <td class="del-icon"> <%= link_to fa_icon("trash"), product_image_path(@product, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" }%> </td>
      <% end %>
    <tr>
    <% end %>
  </tbody>
</table>

<% if admin? %>
  <h1>Add more images</h1>

  <%= form_for @product, url: product_images_path(@product), method: :post do |f| %> 
    <%= f.file_field :images, multiple: true, required: true %>
    <%= f.submit "Add More Images" %>
  <% end %>
<% end %>

<br>
<br>    

<%= link_to 'Show', @product %>
