
<div id="wrap">
    <h1>Products</h1>
      <% if current_user&.is_admin %>
        <a class="new-button" href=<%=new_product_path%>>Add New Product</a>
      <% end %>
  
  
  <% if @category %>
    <h2> Category: <%= @category.name %> </h2>
  <% else %>
    <h2> All the products </h2>
  <% end %>

  <div id="category_tree" class="transition">
    
    
    <div class="categories-title transition">
      Categories
    </div>

    <div class="category">
      <%= link_to "All Products", products_path, remote: true %>
    </div>
    <% @category_index.each do |category, depth| %>
      <div class="category" style= <%= "padding-left:#{5+12*depth}px;" %> >
        <%= link_to category.name, products_path(category_id: category.id), remote: true %>
      </div>
    <% end %>
    <!-- dafuq this do?: <a href="?active=true"> -->
  </div>

  <div id="columns" class="columns_4">
	  <%= render :partial => "cards" %>
  </div>