<% if admin? %>
  <a class="edit-button" href=<%=edit_product_path%>>Edit Product</a>
<% end %>



<table class="no-border">
  <tbody class="no-border">

  <tr class="no-border">
      <td class="no-border" valign="top"> 
  


    <div class="product-single">
      <div class="product-gallery">
        <div id="slider-wrap">
          <ul class="slides">

          <% if @product.images.length() > 0 %>
              <% @product.images.each_with_index do |img, index| %>
                <li class=frame><%= image_tag img.url, class:"gallery-image" %></li> 
              <% end %>
              </ul>
              <ul class="nav-dots">
                <% @product.images.each_with_index do |img, index| %>
                  <% if index != 0 %>
                    <li></li> 
                  <% else %>
                    <li class="active"></li>
                  <% end %>
                <% end %>
            <% else %>
              <li><%= image_tag "unavailable.jpg", class:"gallery-image" %></li>
            <% end %>




          
          </ul>
        </div>
      </div>
    </div>
</td>
      <td class="no-border"  valign="top"> 

    <h1><%= @product.name %></h1>
    <div class="star-ratings-sprite">
      <span style="width:<%= @product.average_score()*20 %>%" class="star-ratings-sprite-rating"></span>
    </div>
    <span id="review-count" class="grey-font">(<%= @product.reviews.length()%> reviews)</span>



    <h3>Description</h3>
    <p>
      <%= @product.description %>
    </p>

    <h3>Details</h3>
    <p>
      <%= @product.details %>
    </p>

    <h3>Price</h3>
    <p>
      <% if @product.discount && @product.discount>0 %>
        <span class="strikethrough-text">$ <%= @product.prize %></span>
        - <span class="price" style="color: red;">$ <%= (@product.prize*(1-@product.discount/100.0)).to_i %> </span>
          <span style="color: red;"> Discount! </span>
      <% else %>
          <span class="price">$ <%= @product.prize %></span>
      <% end %>
    </p>

    <h3>Stock</h3>
    <p>
      <%= @product.stock %>
    </p>

    <h3>Categories</h3>
    <p>
      <ul>
      <% @product.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end%>
      </ul>
    </p>

    <h3>Tags</h3>
    <p>
      <ul>
      <% @product.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end%>
      </ul>
    </p>

    <%= form_tag("/cart/add",method:"post", remote: true) do %>
      <%= hidden_field_tag("cart[product_id]", @product.id)%>

      <span class="input-number-decrement">–</span>
      <%= number_field("cart","quantity", value: 1, min: 1, class: "input-number", type: "text") %>
      <span class="input-number-increment">+</span>


      <%= submit_tag("Add to Cart", class: "button2")%>
    <% end %>


    </td>
  </tbody>
</table>

<% if @most_bought.count > 0 %>
  <div id="wrap">
  <h3>Customers who bought this item also bought</h3>
    <div id="columns" class="columns_4">
      <% (@most_bought).each do |product| %>
          <%= render partial: 'card', locals: {product: product} %>
        <% end %>
    </div>
  </div>
<% end %>

  



<div class="tab">
   <button class="tablinks defaultOpen" data-tab="reviews-tab">Reviews</button>
   <button class="tablinks" data-tab="questions-tab">Questions</button>
</div>  


<div class = "reviews-tab tabcontent">
<h2> Reviews </h2>
<div class="amazing-reviews">
  <% @product.reviews.each do |review| %>
    <%= render partial: 'reviews/card', locals: {review: review} %>
  <% end %>
</div>

<% if !@product.reviews.map{|x| x.user_id}.include? current_user&.id %>
  <%= simple_form_for(@review, remote: true) do |f| %>
    <h2> Write new Review </h2>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :content, label: false, :input_html => {style: 'width: 800px; height: 180px;'}%>
    <%= f.hidden_field :product_id, value: @product.id %>
    <div style="float:right;">
      <%= f.input :score, input_html: {min: '0', max: '5', step: '0.5'} %>
      <div class="actions" style="float:right;">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
<% end %>

</div>
<div class = "questions-tab tabcontent">
<h2> Questions & Answers </h2>
<div id="questions-div">
  <% @product.questions.each do |question| %>
    <%= render partial: 'questions/card', locals: {question: question} %>
    <% question.answers.each do |answer| %>
      <%= render partial: 'answers/card', locals: {answer: answer} %>
    <% end %>
  <% end %>
</div>

<%= simple_form_for(@question, remote: true) do |f| %>
  <h2> Write new Question </h2>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content, label: false%>
  <%= f.hidden_field :product_id, value: @product.id %>

  <div class="actions" style="float:right;">
    <%= f.submit %>
  </div>
<% end %>

</div>
