<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Details:</strong>
  <%= @product.details %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @product.prize %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Categories:</strong>
  <ul>
  <% @product.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end%>
  </ul>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
  <% @product.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end%>
  </ul>
</p>

<%= form_tag("/cart/add",method:"post") do %>
  <%= hidden_field_tag("cart[product_id]", @product.id)%>
  <%= number_field("cart","quantity", value: 1, min: 1) %>
  <%= submit_tag("Add to Cart")%>
<% end %>

<h2> Reviews </h2>
<% @product.reviews.each do |review| %>
  <div class="review-div">
    <h4> Score: <%= review.score %> </h4>
    <p> <%= review.content %> </p>
    <h5> By <%= review.user.username %> </h5>
    <div style="padding: 10px;">
    <%= link_to fa_icon("search"), review %>
    </div>
  </div>
<% end %>

<%= button_to 'Create New Review', new_review_path, params:{product_id: @product.id}, method: 'get'%>

<% if admin? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
