<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Store</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><%= link_to root_path, id: "logo-link" do %>
            <%= image_tag("logo.png") %>
          <% end %>
          </li>
          <li><%= link_to 'Products', products_path %></li>
          <% if admin? %>
            <li><%= link_to 'Dashboard', dashboard_path %></li>
          <% end %>

          <li id="user-bar">
            <div>
            <% if current_user %>
              <ul>
                <li class="dropdown">
                  <% if current_user && !current_user.avatar.file.nil?%>
                    <%= link_to image_tag(current_user.avatar.url, id: "user-thumb"), current_user, class: "dropbtn" %>
                  <% else %>
                    <%= link_to fa_icon("user-circle-o", class: "fa-3x"), current_user, class: "dropbtn" %>
                  <% end %>
                  <div class="dropdown-content">
                    <%= link_to shorten(current_user.username), user_path(current_user)%>
                    <%= link_to 'My Orders', "/users/#{current_user.id}/orders" %>
                    <%= link_to fa_icon("sign-out",text: "Logout"), sessions_path, method: :delete %>
                  </div>
                </li>
              </ul>
            <% else %>
              <div id="not-logged-in">
                <%= link_to fa_icon("sign-in",text: 'Login'), new_sessions_path %> <br>or<br>
                <%= link_to fa_icon("user-plus",text: 'Signup'), new_user_path %>
              </div>
            <% end %>
            </div>
          </li>
          <li id="cart-icon"><%= link_to fa_icon("shopping-cart", class:"fa-2x"), cart_path %></li>

      </nav>

      
    </header>
    
    <main>
      <% if (flash_message = flash[:alert]).present? %>
        <div id="flash-alert" style="display: block;">
          <button class="close-flash-button"><strong>x</strong></button>
          <p><%= flash_message %></p>
        </div>
      <% elsif (flash_message = flash[:notice]).present?%>
        <div id="flash-message" style="display: block;">
          <button class="close-flash-button"><strong>x</strong></button>
          <p><%= flash_message %></p>
        </div>
      <% end %>

      <!-- 
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
      -->

      <%= yield %>
    </main>
    <br>
    <br>
    <br>
    <footer>
    <hr>
    ©2017-2017 Virtual Store. All rights reserved.
    </footer>
  </body>
</html>
