<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Store</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><%= link_to root_path, id: "logo-link" do %>
            <%= image_tag("logo.png") %>
          <% end %>
          </li>
          <li><%= link_to 'Products', products_path %></li>
          <% if admin? %>
          <ul>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Admin</a>
              <div class="dropdown-content">
                <%= link_to 'Users', users_path %>
                <%= link_to 'Categories', categories_path %>
                <%= link_to 'Tags', tags_path %>
                <%= link_to 'Reviews', reviews_path %>
                <%= link_to 'Comments', comments_path %>
                <%= link_to 'Orders', orders_path %>
                <%= link_to 'Questions', questions_path %>
                <%= link_to 'Answers', answers_path %>
                <%= link_to 'Coupons', coupons_path %>
              </div>
            </li>
          </ul>
          <% end %>

          <li id="user-bar">
            <div>
            <% if current_user %>
              <ul>
                <li class="dropdown">
                  <%= link_to fa_icon("user-circle-o", class: "fa-3x"), current_user, class: "dropbtn" %>
                  <div class="dropdown-content">
                    <%= link_to shorten(current_user.username), user_path(current_user)%>
                    <%= link_to 'My Orders', "/users/#{current_user.id}/orders" %>
                    <%= link_to fa_icon("sign-out",text: "Logout"), sessions_path, method: :delete %>
                  </div>
                </li>
              </ul>
            <% else %>
              <div id="not-logged-in">
                <%= link_to fa_icon("sign-in",text: 'Login'), new_sessions_path %> <br>or<br>
                <%= link_to fa_icon("user-plus",text: 'Signup'), new_user_path %>
              </div>
            <% end %>
            </div>
          </li>
          <li id="cart-icon"><%= link_to fa_icon("shopping-cart", class:"fa-2x"), cart_path %></li>

      </nav>

      
    </header>
    
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
    <br>
    <br>
    <br>
    <footer>
    <hr>
    ©2017-2017 Virtual Store. All rights reserved.
    </footer>
  </body>
</html>
