<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><%= link_to root_path, id: "logo-link" do %>
            <%= image_tag("logo.png") %>
          <% end %>
          </li>
          <li><%= link_to 'Products', products_path %></li>
          <% if admin? %>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Categories', categories_path %></li>
            <li><%= link_to 'Tags', tags_path %></li>
            <li><%= link_to 'Reviews', reviews_path %></li>
            <li><%= link_to 'Comments', comments_path %></li>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Questions', questions_path %></li>
            <li><%= link_to 'Answers', answers_path %></li>
            <li><%= link_to 'Coupons', coupons_path %></li>
          <% end %>

          <li id="user-bar">
            <div>
            <% if current_user %>
                <%= link_to fa_icon("user-circle-o", text: current_user.username), current_user %>
                <br><br>
                <%= link_to fa_icon("sign-out",text: "Logout"), sessions_path, method: :delete %>
            <% else %>
              
                <%= link_to fa_icon("sign-in",text: 'Login'), new_sessions_path %> <br>or<br>
                <%= link_to fa_icon("user-plus",text: 'Signup'), new_user_path %>
              </div>
            <% end %>
          </li>
          <li id="cart-icon"><%= link_to fa_icon("shopping-cart", class:"fa-2x"), cart_path %></li>

          <% if logged_user? %>
            <li id="my-orders"><%= link_to 'My Orders', "/users/#{current_user.id}/orders" %></li>
          <% end %>

      </nav>

      
    </header>
    
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>

    <footer>
    <hr>
    ©2017-2017 Virtual Store. All rights reserved.
    </footer>
  </body>
</html>
