<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><%= link_to root_path, id: "logo-link" do %>
            <%= image_tag("logo.png") %>
          <% end %>
          </li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'Tags', tags_path %></li>
          <li><%= link_to 'Reviews', reviews_path %></li>
          <li><%= link_to 'Comments', comments_path %></li>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Questions', questions_path %></li>
          <li><%= link_to 'Answers', answers_path %></li>
          <li><%= link_to 'Coupons', coupons_path %></li>

          <li id="user-bar">
            <% if current_user %>
              <div class="name">
              Welcome, <%= link_to current_user.name, current_user %>
              <br>
              <%= link_to 'Logout', sessions_path, method: :delete %>
              </div>
            <% else %>
              <div>
                <%= link_to 'Login', new_sessions_path %> <br>or<br>
                <%= link_to 'Sign Up', new_user_path %>
              </div>
            <% end %>
          </li>
      </nav>

      
    </header>
    
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>

    <footer>
    <hr>
    ©2017-2017 Virtual Store. All rights reserved.
    </footer>
  </body>
</html>
